src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<american-flights-api:config name="American_Flights_API_Config" doc:name="American Flights API Config" doc:id="b765b4a2-868e-43e5-b4d6-a671a7eef7f0" property_host="${american.host}" property_port="${american.port}" property_protocol="${american.protocol}" property_basePath="${american.basepath}" />
	<flow name="getFlights" doc:id="9324de3e-253e-4ad5-ae55-9172ea4cb931" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="var airline" doc:id="4278fe96-beb1-4464-b1e1-5a77b33838eb" variableName="airline"/>
		<flow-ref doc:name="Set Code" doc:id="69b9b689-68a2-46b7-a6c8-c7b61aeca92f" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="8838e2e4-0c1a-4d6d-aaa8-032af41f01b8" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination'++' '++ (vars.code default ' ')]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINANTION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="7623e774-dac3-4564-9ba4-25398aca6bac" >
			<when expression='#[lower(vars.airline )== "american"]'>
				<flow-ref doc:name="American Flow" doc:id="95a1f2ba-7667-4943-ae6b-56b2122a17f4" name="getAmerican"/>
			</when>
			<when expression='#[lower(vars.airline) == "delta"]'>
				<flow-ref doc:name="Delta Flow" doc:id="471b3cde-03df-4945-be7c-99ff144effb0" name="getDletaFlights"/>
			</when>
			<when expression='#[lower(vars.airline) == "united"]'>
				<flow-ref doc:name="United Flow" doc:id="41126678-f939-45e8-b0a5-954eb89ac4e1" name="getUnitedFLights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Get All Flights" doc:id="cd082f7d-4b5a-4bbb-acac-596e9e82fa13" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="6980113b-4a67-4940-993b-cd3abf54caea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="af75fa13-f08f-4ac1-bd04-1c2ed29d4791" />
		
	</flow>
	<sub-flow name="setCode" doc:id="de7b0a1f-ea48-4028-8b9f-6b92e2deaf09" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="fa2634e8-8459-42bf-aead-5db971222f34" variableName="code"/>
		<logger level="INFO" doc:name="Logger" doc:id="79b617cc-c697-4111-a69d-83cb207e46ba" message="#[vars.code]"/>
	</sub-flow>
	<flow name="getAmerican" doc:id="624a0cdf-05c7-4c18-9c95-4f710f14b30e" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="47230424-355a-4397-bf81-dd972788959d" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON [FLIGHT]" doc:id="f77afc15-afc0-4041-bf1b-76af926abcb9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName:"American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5f34ccda-0f06-4410-8975-e8170557c394" message="#[message.payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Propagate" doc:id="bbca08cb-771d-4517-8e80-54c5859b648d" type="AMERICAN-FLIGHTS-API:BAD_REQUEST" >
				<ee:transform doc:name="On Error Continue" doc:id="9af01333-e9f9-4c44-bd3e-99ab623be729" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No Flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="Copy_of_httpStatus" doc:id="ac4da12b-791c-416b-b753-fcc1af04d43f" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="postFlight" doc:id="381c9657-2dba-412f-8575-6163e47b0e4a" >
		<ee:transform doc:name="Transform Message" doc:id="57cb1753-4872-4cea-ba62-c235d3cd901a" >
			<ee:message >
				<ee:set-payload resource="json_flight_playground.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="DWoutput" ><![CDATA[%dw 2.0
output application/xml	
---
data:{
	hub:"MUA",
	flight @(airline: payload.airline):{
		code:payload.toAirportCode,
	}
	
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3a9eb36b-59b2-4322-a35a-4f306ebd495e" message="#[vars.DWoutput]"/>
	</flow>
	<flow name="ImplementationFlow" doc:id="af712bb3-ed70-4648-beb8-e140e1d4012f" >
		<http:listener doc:name="POST / multipleflights" doc:id="8d33f1ad-903c-470b-87ba-46faa6ed1de4" config-ref="HTTP_Listener_config" path="/multipleflights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="b8b3dde9-d9fd-4ef8-af55-b9ca38670468" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
flights: payload map (object,index)->{
	'flight $(index)': object
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d29946f8-4a26-406f-b52b-bcbaf7f053dc" />
	</flow>
	<flow name="getDletaFlights" doc:id="06945bd0-3657-4a20-84ba-414477608361" >
		<ee:transform doc:name="Transform Message" doc:id="aa3ae8c7-4a59-4333-a83e-f8c60e84757a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Consume" doc:id="20112035-c877-4f88-a59a-38d8b57c0a8f" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [FLIGHT]" doc:id="91ad3fe3-1246-4bbf-b7a1-f157ce7ca0a0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUnitedFLights" doc:id="ba5a4f76-45f6-4122-8ae1-628d6ecad890" >
		<http:request method="GET" doc:name="Get Flights" doc:id="6f236696-ac3a-49f2-89b6-05e52cff0b87" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6a64d824-5302-4e11-88b2-db029c28c5ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e426005d-2f00-481e-ad87-fc76178ee5a8" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="71d908e1-5006-470a-a2fc-b0b34d364d70">
		<scatter-gather doc:name="Scatter-Gather" doc:id="4fc0ed20-230d-4a60-ba3f-5f656195bcd9">
			<route>
				<try doc:name="Try" doc:id="0edffdf4-e810-4198-887f-b42116370624" >
					<flow-ref doc:name="American" doc:id="eb7c87d2-6b80-4d63-9d08-cc90e6ac46c9" name="getAmerican" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="193a7fe7-b390-46c3-a64c-3c7fe217a827" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="1b0583cf-86ba-4bdb-8fba-5f571e0541c4" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route>
				<try doc:name="Try" doc:id="1c7c6ebb-ec80-419d-b6ad-87068ea3001c" >
					<flow-ref doc:name="Delta" doc:id="9dee957b-11f1-4c06-8d27-13fa008b0f3c" name="getDletaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b7ee2db2-0f1e-4271-a96f-e88ac971a704" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="07e5fd81-b0d3-4fb8-a845-3e19f776eb12" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route>
				<try doc:name="Try" doc:id="164019d2-fc88-4b72-9003-3dbcebfe2ebb" >
					<flow-ref doc:name="United" doc:id="07b5064f-b7a7-4b4b-92f8-4002da4d4531" name="getUnitedFLights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f5f0434a-ca7f-4794-b60a-0578b2e45973" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="072e2121-484a-48e9-9481-465af9281955" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Flatten [JSON]" doc:id="d61b074f-1d38-4b93-afc6-414f02a1dbee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4e4fc771-ad90-4a48-98df-e53fca40d39e" />
	</flow>
</mule>
